* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica ;

}
.dropdown {
    position: relative;
    display: inline-block;
    
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7e3e377;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
}
.dropdown:hover .dropdown-content {
    display:block ;
   
    
}
.loja{
    text-decoration: none;
}
.loja:hover{
    color: rgba(0, 0, 0, 0.877);
}
/*cabeça*/
header {
    background-color: rgb(238, 43, 228);
    color: rgb(238, 43, 228) ;
    text-align: center;
    border-bottom: 3px solid rgb(238, 43, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url('0.jpg');
    background-position: center;
    background-size: cover;
}
h1{
    margin: 60px;
    font-size: 70px;
    text-shadow: 2px 5px  #2cda1d;
}
.h1{
    color:rgb(238, 43, 228) ;
    text-decoration: none;
}
/*anucio*/
nav li{
    color:rgb(238, 43, 228) ;
   margin: 15px ;
   display: inline;
  font-size: 20px;
}
nav a{
    color:rgb(238, 43, 228) ;
}
.anucio{
    background-color: rgb(129, 217, 252) ;
    border-bottom: 3px solid rgb(238, 43, 228) ;
    padding: 10px;
   

}
#i0{
    background-color:#eb0b0b;
    color: antiquewhite;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
   
}
#i1{
    background-color:#385998;
    color: antiquewhite;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
}
#i2{
   
    color: aliceblue;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
    background-image:linear-gradient(30deg,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 85%);
}
#i3{
    background-color:#2cda1d;
    color: antiquewhite;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
}
.pl{
    background-color: rgb(241, 34, 34);
    color: rgb(3, 3, 3);
    border-radius: 80px;
    padding: 5px;
    text-decoration: none;
}
.mv{
    width: 100px;
  height: 100px;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
  }
/*anucio*/
/*gride*/
.container{
    background-color: rgb(129, 217, 252);
    color: aliceblue;
    min-width: 60vh;
    padding: 50px;
  display: flexbox;
}
.prudutos-container{
    color: aliceblue;
    min-height: 1200px;
    margin:auto;
    

}
.card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
}
.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border: 2px solid  rgb(238, 43, 228);
}
.valo{
    margin: 8px 0px 8px 0px;
   /* background-color: #385998;  /*tira*/
    color: #000000;
}
.btn0{
    /*background-color: #d92e7f; /*tira*/
    margin: 8px 0px 8px 0px ;
}
.btn{
    background-color: aqua;
    border-radius: 8px;
    padding: 4px;
   text-decoration: none;
   color: #000;
   border: 1px solid#d92e7f;
  flex: 1 0 auto;
}
.btn:hover{
    background-color:rgb(243, 179, 240);
}
.pgl{
    text-decoration: none;
    margin-top: 0.4rem;
   margin-left: 0.6rem;
}
.pg_pgl{
   
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.pg_pgl:hover{
    background-color:rgb(243, 179, 240);
}
#img-1{
    background-image: url('../img/img-1.jpg');
}
#img-2{
    background-image: url('../img/img-2.jpg');
}
#img-3{
    background-image: url('../img/img-3.jpg');
}
#img-4{
    background-image: url('../img/img-4.jpg');
}
#img-5{
    background-image: url('../img/img-5.jpg');
}
#img-6{
    background-image: url('../img/img-6.jpg');
}
#img-7{
    background-image: url('../img/img-7.jpg');
}
#img-8{
    background-image: url('../img/img-8.jpg');
}
#img-9{
    background-image: url('../img/img-9.jpg');
}
#img-10{
    background-image: url('../img/img-10.jpg');
}
#img-11{
    background-image: url('../img/img-11.jpg');
}
#img-12{
    background-image: url('../img/img-12.jpg');
}
#img-13{
    background-image: url('../img/img-13.jpg');
}
#img-14{
    background-image: url('../img/img-14.jpg');
}
#img-15{
    background-image: url('../img/img-15.jpg');
}
#img-16{
    background-image: url('../img/img-16.jpg');
}
#img-17{
    background-image: url('../img/img-17.jpg');
}
#img-18{
    background-image: url('../img/img-18.jpg');
}
#img-19{
    background-image: url('../img/img-19.jpg');
}
#img-20{
    background-image: url('../img/img-20.jpg');
}
#img-21{
    background-image: url('../img/img-21.jpg');
}
#img-22{
    background-image: url('../img/img-22.jpg');
}
#img-23{
    background-image: url('../img/img-23.jpg');
}
#img-24{
    background-image: url('../img/img-24.jpg');
}
#img-25{
    background-image: url('../img/img-25.jpg');
}
#img-26{
    background-image: url('../img/img-26.jpg');
}
#img-27{
    background-image: url('../img/img-27.jpg');
}
#img-28{
    background-image: url('../img/img-28.jpg');
}
#img-29{
    background-image: url('../img/img-29.jpg');
}
#img-30{
    background-image: url('../img/img-30.jpg');
}
#img-31{
    background-image: url('../img/img-31.jpg');
}
#img-32{
    background-image: url('../img/img-32.jpg');
}
#img-33{
    background-image: url('../img/img-33.jpg');
}
#img-34{
    background-image: url('../img/img-34.jpg');
}
#img-35{
    background-image: url('../img/img-35.jpg');
}
#img-36{
    background-image: url('../img/img-36.jpg');
}
#img-37{
    background-image: url('../img/img-37.jpg');
}
#img-38{
    background-image: url('../img/img-38.jpg');
}
#img-39{
    background-image: url('../img/img-39.jpg');
}
#img-40{
    background-image: url('../img/img-40.jpg');
}
#img-41{
    background-image: url('../img/img-41.jpg');
}
#img-42{
    background-image: url('../img/img-42.jpg');
}
#img-43{
    background-image: url('../img/img-43.jpg');
}
#img-44{
    background-image: url('../img/img-44.jpg');
}
#img-45{
    background-image: url('../img/img-45.jpg');
}
#img-46{
    background-image: url('../img/img-46.jpg');
}
#img-47{
    background-image: url('../img/img-47.jpg');
}
#img-48{
    background-image: url('../img/img-48.jpg');
}
#img-49{
    background-image: url('../img/img-49.jpg');
}
#img-50{
    background-image: url('../img/img-50.jpg');
}
#img-51{
    background-image: url('../img/img-51.jpg');
}
#img-52{
    background-image: url('../img/img-52.jpg');
}
#img-53{
    background-image: url('../img/img-53.jpg');
}
#img-54{
    background-image: url('../img/img-54.jpg');
}
#img-55{
    background-image: url('../img/img-55.jpg');
}
#img-56{
    background-image: url('../img/img-56.jpg');
}
#img-57{
    background-image: url('../img/img-57.jpg');
}
#img-58{
    background-image: url('../img/img-58.jpg');
}
#img-59{
    background-image: url('../img/img-59.jpg');
}
#img-60{
    background-image: url('../img/img-60.jpg');
}
#img-61{
    background-image: url('../img/img-61.jpg');
}
#img-62{
    background-image: url('../img/img-62.jpg');
}
#img-63{
    background-image: url('../img/img-63.jpg');
}
#img-64{
    background-image: url('../img/img-64.jpg');
}
#img-65{
    background-image: url('../img/img-65.jpg');
}
#img-66{
    background-image: url('../img/img-66.jpg');
}
#img-67{
    background-image: url('../img/img-67.jpg');
}
#img-68{
    background-image: url('../img/img-68.jpg');
}
#img-69{
    background-image: url('../img/img-69.jpg');
}
#img-70{
    background-image: url('../img/img-70.jpg');
}
#img-71{
    background-image: url('../img/img-71.jpg');
}
#img-72{
    background-image: url('../img/img-72.jpg');
}
#img-73{
    background-image: url('../img/img-73.jpg');
}
#img-74{
    background-image: url('../img/img-74.jpg');
}
#img-75{
    background-image: url('../img/img-75.jpg');
}
#img-76{
    background-image: url('../img/img-76.jpg');
}
#img-77{
    background-image: url('../img/img-77.jpg');
}
#img-78{
    background-image: url('../img/img-78.jpg');
}
#img-79{
    background-image: url('../img/img-79.jpg');
}
#img-80{
    background-image: url('../img/img-80.jpg');
}
#img-81{
    background-image: url('../img/img-81.jpg');
}
#img-82{
    background-image: url('../img/img-82.jpg');
}
#img-83{
    background-image: url('../img/img-83.jpg');
}
#img-84{
    background-image: url('../img/img-84.jpg');
}
#img-85{
    background-image: url('../img/img-85.jpg');
}
#img-86{
    background-image: url('../img/img-86.jpg');
}
#img-87{
    background-image: url('../img/img-87.jpg');
}
#img-88{
    background-image: url('../img/img-88.jpg');
}
#img-89{
    background-image: url('../img/img-89.jpg');
}
#img-90{
    background-image: url('../img/img-90.jpg');
}
.texto1{
   
    display: inline-block;
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /*quantidade de lianha no texto*/
    font-size: 20px; /* tamanho da letra*/
    line-height: 20px; /* espassoda lia */
    color: #f0cc3b;
    flex: 1 0 auto; /* a juste do texto na tela */
    /*background-color: #b60707;
    border: 1px solid rgb(10, 8, 8);
    margin: 8px 0px 8px 0px ;*/
}
.texto2{
     display: inline-block;
     display: -webkit-box;
     word-wrap: break-word;
     white-space: normal;
     overflow: hidden;
     text-overflow: ellipsis;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2; /*quantidade de lianha no texto*/
     font-size: 20px; /* tamanho da letra*/
     line-height: 20px; /* espassoda lia */
     color: #3a3935;
     flex: 1 0 auto;/* a juste do texto na tela */
    /* background-color: #2cda1d;
     border: 1px solid #000;
     margin: 8px 0px 8px 0px ;*/
     
}
.pg{
    display: flex; 
    border: 40px;
    padding : 40px;
    color: black;
    background-color: aqua;
   margin-left: auto;
    
}
.pg li {
    margin-left: 30px;
    text-align: center;
    display: flex;
   
}
/*foote*/
footer{
    background-color: rgb(129, 217, 252) ;
    border-top:3px solid  rgb(238, 40, 228) ;
    padding: 40px;
    color: rgb(238, 40, 228);
    text-align: center;
    font-size: 20px;
    background-image: url('0.jpg');
    background-position: center;
    background-size: cover;
}
#contato{
    /*background-color: #385998;*/
    color: #f15245;
    margin-left: -30px;
    width: 300px;
}
/*mobil450*/
@media (max-width:1000px){
   header {
        background-color: rgb(238, 43, 228);
        color: rgb(238, 43, 228) ;
        text-align: center;
        border-bottom: 3px solid rgb(238, 43, 228);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-image: url('0.jpg');
        background-position: center;
        background-size: cover;
        
    }
    h1{
        margin: 3px;
        font-size: 25px;
        text-shadow: 2px 5px  #2cda1d;
    }
    .h1{
        color:rgb(238, 43, 228) ;
        text-decoration: none;
    }
    nav li{
        color:rgb(238, 43, 228) ;
       margin: 1px ;
       display: inline ;
      font-size: 1em;
      padding: 1px;
      display: flex ;
    }
    nav a{
        color: rgb(238, 43, 228);
       
    }
    .loja{
        text-decoration: none;
    }
    .loja:hover{
        color: rgba(0, 0, 0, 0.877);
    }
    #i0{
        background-color:#eb0b0b;
            color: antiquewhite;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            line-height: 30px;
            cursor: pointer;
        }
    #i1{
        background-color:#385998;
        color: antiquewhite;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    #i2{
       
        color: aliceblue;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 30px;
        cursor: pointer;
        background-image:linear-gradient(30deg,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 85%);
    }
    /*gride*/
.container{   


    background-color: rgb(129, 217, 252);
    color: aliceblue;
    min-width: 40vh;
    padding:9px;
    
    
}
.prudutos-container{
    color: aliceblue;
    min-height: 100px;
    margin: auto;

}
.card{
    width: 27%;
    display: inline-block;
    margin: 1% 1%;
}
.product-image{
    height: 100px;
    width: 110%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border: 2px solid  rgb(238, 43, 228);
}
.texto1{
   
    display: inline-block;
    display: -webkit-box;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /*quantidade de lianha no texto*/
    font-size: 1rem; /* tamanho da letra*/
    line-height: 20px; /* espassoda lia */
    color: #f0cc3b;
    flex: 1 0 auto; /* a juste do texto na tela */
   /* background-color: #b60707;
    border: 1px solid rgb(10, 8, 8);*/
}
.texto2{
     display: inline-block;
     display: -webkit-box;
     word-wrap: break-word;
     white-space: normal;
     overflow: hidden;
     text-overflow: ellipsis;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2; /*quantidade de lianha no texto*/
     font-size: 1rem; /* tamanho da letra*/
     line-height: 20px; /* espassoda lia */
     color: #3a3935;
     flex: 1 0 auto;/* a juste do texto na tela */
     /*background-color: #2cda1d;
     border: 1px solid #000;*/
    
}
.valo{
    margin: 8px 0px 8px 0px;
   /* background-color: #385998;  tira*/
}
.btn0{
   /* background-color: #d92e7f;  tira*/
    margin: 8px 0px 8px 0px ;
}
.btn{
    background-color: aqua;
    border-radius: 8px;
    padding: 3px;
    text-decoration-color: aqua;
    border: 1px solid#d92e7f;
    margin-top: -20px;
}
.btn:hover{
    background-color:rgb(243, 179, 240);
}
.pg{
    display: flex; 
    border: 30px;
    padding : 30px;
    color: black;
    background-color: aqua;
    margin-left: auto;
    
}
.pg li {
    margin-left: auto;
    text-align: center;
   
    
}
.pg_pgl{
   
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.pg_pgl:hover{
    background-color:rgb(243, 179, 240);
}
/*foote*/
footer{
    background-color: rgb(129, 217, 252) ;
    border-top:3px solid  rgb(238, 40, 228) ;
    padding: 40px;
    color: rgb(238, 40, 228);
    text-align: 9px;
    font-size: 20px;
    background-image: url('0.jpg');
    background-position: center;
    background-size: cover;
}
.mv{
    width: 200px;
  height: 70px;
  position: relative;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 3em;}
}
img{
 width: 300px;
 }
}